@import 'null.scss';

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 1 auto;
}

.hi {
    background-color: #445162;
}

.conteiner {
    max-width: 1180px;
    margin: 0 auto;
}

.hi__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hi__body {
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;

}

.hi__title {
    font-size: 60px;
    margin-bottom: 20px;
}

.hi__list li {
    background: url(img/picture4.png) 0 0 no-repeat;
    line-height: 36px;
    margin: 10px;
    padding-left: 36px;
}

.hi__list li:nth-child(4) {
    margin-bottom: 0px;
}



.hi__img {
    max-height: 214px;
    max-width: 400px;
}

.hi__img img {
    min-width: 100px;
    max-width: 100%;
}

.footer {
    background-color: #f5f5f5;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65px;
}

.footer__text {
    font-size: 24px;
    letter-spacing: 0.1rem;
}

.what {
    min-height: 290px;

}

.what__row {
    display: flex;
    margin-top: 49px;

}

.what__img {
    display: block;
    max-width: 430px;
    max-height: 186px;
}

.what__img img {
    min-width: 430px;
    max-width: 100%;
}

.what__text {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
}

.what__title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin-bottom: 36px;
}

.title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin-bottom: 36px;
}

.what__subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.what__subtitle p {
    margin: 10px 0px;
}

.what__subtitle p:nth-child(1) {
    margin-top: 0px;
}

.columns {
    background-color: #f5f5f5;
}

.columns__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns__row {
    display: flex;
    flex-wrap: wrap;
}

.columns__column {
    display: flex;
    flex: 0 1 50%;
}



.item {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.item__row {
    display: flex;
    margin: 10px;
}

.image {
    min-width: 200px;
    min-height: 150px;
}

.image img {
    max-width: 100%;
}

.item__text {
    padding-left: 10px;
}


.item__title {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    padding-bottom: 10px;
}


.endbox {
    background-color: #ffffff;
}


.end__title {
    text-align: center;
    margin: 20px 0;
}

.end__row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.end__column {

    margin: 10px;
    width: 300px;
    height: 499px;
    border: 1px solid #445162;
}


.flexconteiner {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #445162;
}

.content-size {
    flex: 1 1 auto;

}

.endc__title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 51px;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

}

.end__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 71px;
    border: 2px solid #445162;
    background-color: #ffffff;
}

.text {
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
}

.end__text {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 10px 10px;
}

.end__text p {
    padding: 10px 0px;
}

.end__text p:nth-child(1) {
    padding: 0px;
}

.button {
    width: 260px;
    height: 40px;
    margin: 20px auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    transition: background-color 0.5s;
}

.button:hover {
    background: rgb(23, 100, 74);
    color: #f5f5f5;

}

.button:active {
    background: rgb(160, 28, 127);
    color: #f5f5f5;
}